pkgbase = masterpdfeditor
	pkgdesc = A complete solution for viewing, creating and editing PDF files My own custom install.
	pkgver = 5.6.80
	pkgrel = 1
	url = https://code-industry.net
	arch = x86_64
	license = proprietary
	source = https://github.com/AgentOrange007/PKGBUILDs/raw/main/masterpdf5-custom-hosts/master-pdf-editor-5.6.80-qt5.x86_64.tar.gz

	sha256sum =('9fbda562095ddaca973af73aaefd51f8e46dc30e215469bb5183958a60dae207'
             '870da3bd61bf285dafdfba932e39964c995f53fd999383e10228b1f01821c2c8'
            'c070fc590de4cb43c97525c2d96bf8f540063fbe097f190f773a2453b6db2c04')

pkgname = masterpdfeditor
	depends = libgl
	depends = nspr
	depends = nss
	depends = qt5-base
	depends = qt5-svg
	depends = sane
